pre.hfy { background: #ddd; color:#000000; font-family:Ricty Diminished, monospace, sans-serif; }
.hfy > span.default   { color: #000000; }
.hfy > span.default a { color: #000000; text-decoration: underline; }
.hfy > span.function-name   { color: #0000ff;    }
.hfy > span.function-name a { color: #0000ff; text-decoration: underline; }
.hfy > span.type   { color: #228b22; }
.hfy > span.type a { color: #228b22; text-decoration: underline; }
.hfy > span.variable-name   { color: #a0522d;  }
.hfy > span.variable-name a { color: #a0522d; text-decoration: underline; }
.hfy > span.keyword   { color: #a020f0; }
.hfy > span.keyword a { color: #a020f0; text-decoration: underline; }
